body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
}

p {
    margin: 0;
}

.content-wrapper {
    min-height: 100vh;
    position: relative;
}

.page-title {
    font-size: 4rem;
    background-image:url("imgs/smoke.jpg"), linear-gradient(to left, rgb(180, 0, 0), rgb(0, 0, 132));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    padding: 3.90625em 0;
    letter-spacing: 5px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-container {
    margin-top: -35px;
    padding-bottom: 200px;
}

.post:hover,
.post:focus {
    transform: scale(1.1);
    cursor: pointer;
}

.post {
    width: 200px;
    display: inline-block;
    background: linear-gradient(45deg, blue, red);
    padding: 50px 0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    transform: scale(1);
    transition: transform 250ms;
    margin-bottom: 50px;
}

.footer {
    background: rgba(156, 31, 31,1);
    color: white;
    padding: 100px 0;
    margin: 10px 0 0;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 850px) {

    .post-container {
        margin-top: 15px;
        padding-bottom: 0;
    }

    .footer {
        position: none;
        bottom: unset;
    }

    .content-wrapper {
        min-height: fit-content;
    }

    .post {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(max-width: 500px) {
    p {
        width: 100%;
    }

    .post {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .container {
        width: 70%;
    }
}