body {
    margin: 0;
}

.container {
    background-image: url("imgs/post-bg.png");
    background-repeat: repeat;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:10px;
}

.post-title {
    margin-left: 30px;
    font-size:3rem;
}

.post {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 30px;
    margin: 0;
    text-indent: 50px;
}

.back-icon {
    width: 50px;
}

.post::first-letter {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 500px) {
    .container {
        margin-top: 0;
        width: 100%;
    }
    
    .post {
        padding: 0 10px;
    }

    .post-title {
        font-size:2rem;
    }

    .post{
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
}