body {
    margin: 0;
}

.container {
    box-sizing: border-box;
    background-image: url("imgs/post-bg.png");
    background-repeat: repeat;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:10px;
    border: 5px solid;
    /* border-image: linear-gradient(to left,rgb(172, 172, 172),rgb(94, 94, 107)) 1; */
    border-image: url("imgs/book-border.png") 30 ;
}

.post-title {
    width: fit-content;
    border-top: 5px solid black;
    margin-left: 30px;
    font-size:3rem;
}

.post {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 30px;
    margin: 0;
    text-indent: 50px;
}

.back-icon {
    width: 50px;
    margin-left:10px;
}

.post::first-letter {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 500px) {
    .container {
        margin-top: 0;
        width: 100%;
    }
    
    .post {
        padding: 0 10px;
    }

    .post-title {
        font-size:2rem;
    }

    .post{
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
}